[Desktop Entry]
Name=OpenTTD
Comment=OpenTTD - a transporting logistics simulation game
Exec=openttd
Icon=openttd
Terminal=false
Type=Application
Categories=Games;
